# Example executables
examples/Explode
examples/LineStyles
examples/Pentaflake
examples/AttrTest
examples/FillRule
examples/Temp
examples/Opacity
examples/Clipping
examples/Text
examples/TextScaling
# This is just used as scratch space
examples/Temp.hs
